#  Utah Data Science Companies

# Imports

In [2]:
import openpyxl
import pandas as pd

import json
import requests

from pprint import pprint
from pandas import DataFrame
from itertools import islice

# Paramaters

In [27]:
hidden_data_path = 'C:\\Dropbox\\Projects\\UtahDataScience\\Data\\'

In [28]:
companies_filename = 'C:\\Dropbox\\Projects\\UtahDataScience\\UtahDataScience.xlsx'

print('companies_filename: ', companies_filename)

companies_filename:  C:\Dropbox\Projects\UtahDataScience\UtahDataScience.xlsx

In [31]:
#  Get LinkedIin API access keys

linkedin_api_dict_filename = hidden_data_path + '\\linkedin_api.json'
linkedin_api_dict = json.load(open(linkedin_api_dict_filename))

print('Number of JSON keys: ', len(linkedin_api_dict))

Number of JSON keys:  3

In [32]:
#  Data Frame properties:

print(pd.get_option("display.max_columns"))
pd.set_option('display.max_columns', 100)
pd.set_option('precision', 5)
print(pd.get_option("display.max_columns"))

100
100

In [64]:
calc_xl_formulas = True

# Get Data

In [65]:
wb = openpyxl.load_workbook(companies_filename, data_only=calc_xl_formulas)
print(type(wb))
print('sheet_names: ', wb.get_sheet_names())

<class 'openpyxl.workbook.workbook.Workbook'>
sheet_names:  ['Companies', 'People']

In [66]:
companies_sheet = wb.get_sheet_by_name('Companies')

companies_sheet

In [67]:
companies_sheet.title

'Companies'

In [68]:
data = companies_sheet.values
cols = next(data)[1:]
data = list(data)
idx = [r[0] for r in data]
data = (islice(r, 1, None) for r in data)
companies_df = DataFrame(data, index=idx, columns=cols)

companies_df.head(5)

,Score,Web Site,Job Board,LinkedIn,HQ,Closest UT Location,Oversees Engineering Offices,Distance,Salary,Industry,Industry Score,Employee Count (LinkedIn),Employee Count (LI) Perc. Rank,Employee Count,UT Employee Count,DS Count,UT DS Count,UT DS Count Rank,Know How to Use DS,Salary Score,Ave Perc Layoff per Year,Stability Score,Glass Door Score,Contacts,Last Updated,Last Contacted,Last Applied,Advice
NaN,NaN,None,None,None,None,None,None,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,NaT,None
1Strategy,4.092,None,None,https://www.linkedin.com/company/10315202/,None,None,None,None,NaN,Business Consulting Tech.,7.0,16.0,1.48,NaN,NaN,NaN,1.0,0.0,NaN,0.0,None,None,None,None,None,None,NaT,None
3M Health Care,7.000,None,None,https://www.linkedin.com/company/1864/,None,"Murray, UT",None,None,NaN,Health Tech.,6.0,56710.0,10.00,NaN,NaN,NaN,1.0,0.0,NaN,0.0,None,None,None,None,None,None,NaT,None
4Life Research,4.824,None,None,https://www.linkedin.com/company/23803/,"Sandy, UT",None,None,None,NaN,Health Product Development,3.0,4542.0,8.31,NaN,NaN,NaN,1.0,0.0,NaN,0.0,None,None,None,None,None,None,NaT,None
A10 Capital,2.304,None,None,None,None,"Boise, ID",None,None,NaN,Commercial Real Estate,2.0,135.0,3.26,NaN,NaN,NaN,1.0,0.0,NaN,0.0,None,None,None,None,None,None,NaT,None

In [75]:
companies_df.sort_values('Score', ascending=False).head(7)

,Score,Web Site,Job Board,LinkedIn,HQ,Closest UT Location,Oversees Engineering Offices,Distance,Salary,Industry,Industry Score,Employee Count (LinkedIn),Employee Count (LI) Perc. Rank,Employee Count,UT Employee Count,DS Count,UT DS Count,UT DS Count Rank,Know How to Use DS,Salary Score,Ave Perc Layoff per Year,Stability Score,Glass Door Score,Contacts,Last Updated,Last Contacted,Last Applied,Advice
Adobe,8.340,None,None,https://www.linkedin.com/company/1480/,"San Jose, CA","Lehi, UT",None,None,NaN,Mar. Tech.,9.0,18437.0,9.60,NaN,NaN,NaN,1.0,0.0,8.0,0.0,None,None,None,None,None,None,NaT,None
"Expedia, Inc.",7.960,None,None,https://www.linkedin.com/company/2751/,"Bellevue, WA",None,None,None,NaN,Travel Tech.,8.0,32353.0,9.90,NaN,NaN,NaN,1.0,0.0,NaN,0.0,None,None,None,None,None,None,NaT,None
"NeuStar, Inc.",7.588,None,None,https://www.linkedin.com/company/5349/,"Sterling, VA",None,None,None,NaN,Mar. Tech.,9.0,1976.0,7.72,NaN,NaN,NaN,1.0,0.0,NaN,0.0,None,None,None,None,None,None,NaT,None
Teradata Inc.,7.260,None,None,https://www.linkedin.com/company/1466/,"Miamisburg, OH",None,None,None,NaN,Business Consulting Tech.,7.0,13974.0,9.40,NaN,NaN,NaN,1.0,0.0,NaN,0.0,None,None,None,None,None,None,NaT,None
Rubicon Project Inc.,7.096,None,None,https://www.linkedin.com/company/87155/,"Playa Vista, CA","Sandy, UT",None,None,165.0,Ad. Tech.,8.0,599.0,5.24,523.0,6.0,9.0,2.0,10.0,7.0,10.0,None,None,None,None,None,None,NaT,None
3M Health Care,7.000,None,None,https://www.linkedin.com/company/1864/,None,"Murray, UT",None,None,NaN,Health Tech.,6.0,56710.0,10.00,NaN,NaN,NaN,1.0,0.0,NaN,0.0,None,None,None,None,None,None,NaT,None
Wayfair,6.944,None,None,https://www.linkedin.com/company/19857/,"Boston, MA",None,None,None,NaN,ecommerce,7.0,5673.0,8.61,NaN,NaN,NaN,1.0,0.0,NaN,0.0,None,None,None,None,None,None,NaT,None

# API Data

In [54]:
# r = requests.get('https://api.linkedin.com/v1/people/~/', headers={'Authorization': 'Bearer ' + linkedin_api_dict['access_token']})
r = requests.get('https://api.linkedin.com/v2/me', headers={'Authorization': 'Bearer ' + linkedin_api_dict['access_token'], 'X-RestLi-Protocol-Version': '2.0.0'})

print('Status code: ', r.status_code)
print(len(r.text))
print()
print(r.text)

Status code:  200
478

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<person>
  <id>B0eNePGHXO</id>
  <first-name>Thomas</first-name>
  <last-name>Packer</last-name>
  <headline>Data Scientist, Software Engineer, PhD in Computer Science</headline>
  <site-standard-profile-request>
    <url>https://www.linkedin.com/profile/view?id=AAoAAADt8NIB4LNzsP38qWfqR4lb1FqJmFaCXaU&amp;authType=name&amp;authToken=73Ay&amp;trk=api*a4755194*s4698224*</url>
  </site-standard-profile-request>
</person>